<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.illumismart">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IllumiSmart">
        <activity android:name=".ProfileAgeActivity"
            android:theme="@style/Theme.IllumiSmart.Age"/>
        <activity
            android:name=".ProfileOccupationActivity"
            android:theme="@style/Theme.IllumiSmart.Occupation" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/Theme.IllumiSmart.LightLevel" />
        <activity
            android:name=".LightLevelSuggestActivity"
            android:theme="@style/Theme.IllumiSmart.LightLevel" />
        <activity
            android:name=".FlickerGuideActivity"
            android:theme="@style/Theme.IllumiSmart.Flicker" />
        <activity
            android:name=".IlluminanceRecordActivity"
            android:theme="@style/Theme.IllumiSmart.LightLevel" />
        <activity
            android:name=".FlickerRecordActivity"
            android:theme="@style/Theme.IllumiSmart.Flicker" />
        <activity
            android:name=".FlickerActivity"
            android:theme="@style/Theme.IllumiSmart.Flicker" />
        <activity
            android:name=".DataActivity"
            android:theme="@style/Theme.IllumiSmart.NoActionBar" />
        <activity
            android:name=".LightLevelGuideActivity"
            android:theme="@style/Theme.IllumiSmart.LightLevel" />
        <activity
            android:name=".LightLevelActivity"
            android:theme="@style/Theme.IllumiSmart.LightLevel" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.IllumiSmart.NoActionBar" />
        <activity
            android:name=".GlareActivity"
            android:theme="@style/Theme.IllumiSmart.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.IllumiSmart.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>